<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference 
    for="MarketPc\ComponentPc\Api\Data\ComponentInterface" 
    type="MarketPc\ComponentPc\Model\Component"
    />
    <preference 
    for="MarketPc\ComponentPc\Api\ComponentRepositoryInterface" 
    type="MarketPc\ComponentPc\Model\ComponentRepository"
    />
</config>